<?xml version="1.0"?>
<configuration>

	<membership defaultProvider="WallBackend.Providers.nHibernateMembershipProvider" userIsOnlineTimeWindow="15">
		<providers>
			<clear/>
			<add
				name="WallBackend.Providers.nHibernateMembershipProvider"
				type="WallBackend.Providers.nHibernateMembershipProvider, WallBackend.Providers"
				applicationName="WallBackend"
				connectionStringName="db"
				enablePasswordRetrieval="false"
				enablePasswordReset="true"
				requiresQuestionAndAnswer="false"
				writeExceptionsToEventLog="true"
				requiresUniqueEmail="true"
				passwordFormat="Encrypted"/>

		</providers>
	</membership>

</configuration>
